<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageResizeFolder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="画像振り分け君.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ImageResizeFolder.Properties.Settings>
      <setting name="SaveMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ParentFolderName" serializeAs="String">
        <value />
      </setting>
      <setting name="OriginalFolderName" serializeAs="String">
        <value />
      </setting>
      <setting name="ResizeFolderName" serializeAs="String">
        <value />
      </setting>
      <setting name="SubFolderName" serializeAs="String">
        <value />
      </setting>
      <setting name="OriginalFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="ResizeFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="ExceptionSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExceptionMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OriginalFileDate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ResizeFileDate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OriginalAccessDateOverwrite" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ResizeAccessDateOverwrite" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OutputMode" serializeAs="String">
        <value />
      </setting>
      <setting name="Unit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UnitMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Preset" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ResizeMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ImageFileMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ColorProfile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ColorMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Overwrite" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SubfolderAllow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OpenSaveFolder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TopMost" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Aspect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SaveFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="AspectMode" serializeAs="String">
        <value>0</value>
      </setting>
    </ImageResizeFolder.Properties.Settings>
    <画像振り分け君.Properties.Settings>
      <setting name="SaveMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ParentFolderName" serializeAs="String">
        <value />
      </setting>
      <setting name="OriginalFolderName" serializeAs="String">
        <value />
      </setting>
      <setting name="ResizeFolderName" serializeAs="String">
        <value />
      </setting>
      <setting name="SubFolderName" serializeAs="String">
        <value />
      </setting>
      <setting name="OriginalFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="ResizeFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="ExceptionSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExceptionMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OriginalFileDate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ResizeFileDate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OriginalAccessDateOverwrite" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ResizeAccessDateOverwrite" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OutputMode" serializeAs="String">
        <value />
      </setting>
      <setting name="Unit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UnitMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Preset" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ResizeMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ImageFileMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ColorProfile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ColorMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Overwrite" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SubfolderAllow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OpenSaveFolder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TopMost" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Aspect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SaveFolder" serializeAs="String">
        <value />
      </setting>
    </画像振り分け君.Properties.Settings>
  </userSettings>
</configuration>